@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1>Purpose</h1>
<div class="row">
    Currently, the only purpose of this site is to service metrics, see <a href="/swagger">/swagger</a>
</div>
